html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: whitesmoke;
  font-family: 'Helvetica', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  color:rgb(6, 129, 129);
  text-align: center;
  margin-bottom: 5em;
}




#controls{
  width: 100%;
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(5, 1fr);
  grid-gap: 1em;
}

.sendtoSerial{
  border: 3px rgb(6, 129, 129) solid;
  border-radius: 15%;
  padding: 2em;
  color: white;
  font-size: 14px;
  font-weight: 600;
  background-color: #383838; 
}

#lightOff{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

#light1{
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}
#light2{
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;

}#light3{
  grid-row-start: 3;
  grid-row-end:5 ;
  grid-column-start: 4;
  grid-column-end: 5;
}
#light4{
  grid-row-start: 5;
  grid-row-end:7 ;
  grid-column-start: 3;
  grid-column-end: 4;
}